.tabella-esterna{
    border: 1px solid black;
    width: 100%;
}

td{
    background-color: lightblue;
}

.centrato{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 50px;
}

.centrato span{
    font-size: 25px;
    font-weight: bold;
}

.footer{
    font-size: 10px;
}

.menu li a{
    text-decoration: none;
    color: red;
}

.menu li{
    color:red;
    font-size: 25px;
}

.colonna-menu{
    width: 30%;
}