table{
    border: 1px solid blue;
    width: 100%;
}

td{
    background-color: lightgrey;
    text-align: center;
    border: 1px solid white;
}

.evidenziato{
    background-color: yellow;
}

#titolo-pagina{
    color: violet;
}